*{
  font-family: 'Roboto';
  color: black;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

h1{
  color: #00A773;
}

h2{
  color: #4EC49F;
}

div.header{
  display: block;
  background-color: #00A773;
  color: black;
  text-align: center;
  font-size: 25px;
}
